// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$jet : #343434;
$midnight-blue : #181977;
$non-photo-blue : #99cfd6;
$alice-blue : #ebf2fa;
$hunyadi-yellow : #f0ad42;
