.button-container {
  display: flex;
  // overflow-x: auto;
  max-width: 100%; /* Optional: Prevents horizontal overflow */

  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.button-container::-webkit-scrollbar {
  width: 0; /* WebKit (Chrome, Safari, etc.) */
}

.button-container a {

  &:hover,
  &:focus {
    color: #f0ad42;
  }
}
