<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/OSuricato/coffee-break"><i class="fab fa-github"></i> View on GitHub </a>
 </div>
  <div>
    <i class="fa-solid fa-mug-hot fa-lg"></i>
  </div>
  <div class="footer-copyright">
    Material Facil  <i class="fa-solid fa-pencil fa-lg"></i> 2023
  </div>
</div>
