<div class="cards">
  <div class="product-name">
    <h1> Order #<%= @order.id %> Summary:</h1>
  </div>
  <div class="card-product">
    <div class="product-container">
      <div class="product-details">
        <p><strong>Status: </strong> <%= @order.state %> </p>
        <p><strong>Issued on: </strong> <%= @order.created_at.to_date %> </p>
        <p><strong>Amount paid:</strong> <%= humanized_money_with_symbol(@order.amount_cents / 100) %> </p>
        <p><strong>Expected delivery date:</strong> within 2 business days</p>
    </div>
  </div>
</div>
