
<div class="sub-categories-title">
  <h1>Checkout Summary</h1>
</div>


<div class="final-payment-button">
<button id="pay" class="btn btn-primary w-300">Pay</button>
</div>




<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY']
      %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @order.checkout_session_id %>'
    });;
  })
</script>
