<div class="cards">
  <!-- Display order products here -->
    <div class="product-name">
      <h1 class= "table-head">Checkout Summary:</h1>
    </div>
</div>


<button id="pay" class="btn btn-primary">Pay</button>




<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY']
      %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @order.checkout_session_id %>'
    });;
  })
</script>
