
<div class="cards">
  <% @schools.each do |school| %>
    <div class="card-product">
        <%= image_tag "placeholder.jpg", class: "product_image" %>
      <div class="product-info">
        <h2><%= school.name %></h2>
          <%= link_to "View Details", school_path(school), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
