<div class="sub-categories-title">
<h1><%= @school.name %></h1>
</div>

<div class="cards">
  <% @grades.each do |grade| %>
    <div class="card-product">
      <%= image_tag "placeholder.jpg", class: "product_image" %>
            <div class="product-info">
        <h2><%= grade.name %></h2>
          <%= link_to "View Details", list_path(grade.list), class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>
