<div class="container">
<% @school.lists.each do |list|%>
   <div class="serie">
    <h2><%=list.grade  %></h2>
    <%= image_tag "image.jpg" %>
    <p>Pode alegar sua vida</p>
  </div>
<% end %>

</div>
