.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


/* Mobile Styles */
@media (max-width: 768px) {
  .banner {
    padding: 100px 0;
    max-height: 200px; /* Adjust this value as needed */
  }

  .banner h1 {
    font-size: 24px;
  }

  .banner p {
    font-size: 18px;
  }
}
