.btn-primary {
  border-radius: 4px;
  margin-top: 10px;
  vertical-align: center;
  align-items: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}

.btn-primary-clearcart {
  border-radius: 4px;
  margin-top: 10px;
  vertical-align: center;
  background-color: #d83f3f;
  color: white;
  font-weight: bold;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn-search {
  width: 56px;
  height: 50px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: #f0ad42;
  border: none;
  padding: 12px;
}

.categories {
  border-radius: 0;
}

// .btn-primary {
//   width: 330px;
//   height: 50px;
//   margin-right: 2px;
//   margin-left: 2px;
//   border-radius: 4px;
//   background-color: #f0ad42;
//   border: none;
//   color: #343434;
//   text-align: center;
//   vertical-align: center;
//   object-position: center;
//   text-decoration: none;
//   // padding: 12px;
// }
.back-to-cart-button {
  position: relative;
  text-align: center;
  align-content: center;
  display: inline-block;
  padding-bottom: 8px;
  a {
    width: 300px;
  }
}

.w-300 {
  width: 300px;
}

.back-to-categories {
  position: relative;
  text-align: center;
  align-content: center;
  // display: inline-block;
  padding-bottom: 8px;
  a {
    width: 300px;
  }
}

// border-radius: 40px;
//   margin-top: 10px;
//   vertical-align: center;
//   background-color: #d83f3f;
//   color: white;
//   font-weight: bold;


.product-show-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;

  a {
    width: 300px;
  }
}

.product-button {
  position: relative;
  text-align: center;
  align-content: center;
  a {
    width: 300px;
  }
}

.add-to-cart-school-button {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  a {

    width: 300px;
  }
}

.buy-now-button {
  position: relative;
  text-align: center;
  align-content: center;
  background-color: #99cfd6;
  color: #343434;
  border: 1px solid #99cfd6;

  a {
    width: 300px;
  }
}

.add-button {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  align-content: center;
  background-color: #f0ad42;
  border: 1px solid #f0ad42;
  a {
    width: 300px;
  }
}

.buy-button {
  position: relative;
}

.final-payment-button {
  position: relative;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
  a {
    width: 300px;
  }
}

.pay-button {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
  width: 300px;
  a {
    width: 300px;
  }
}

.btn-delivery-address {
  background-color: #71bec8;
  color: #343434;
  border: 1px solid #71bec8;
}


.back-button {
  position: fixed;
  top: 50%;
  left: 12px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 8px;
  // padding-bottom: 4px;
  // padding-left: 4px;
  // padding-right: 4px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 20px;
  scale: 1.3;
}
