.product-container {
  padding:0 42px;
  background-color: #fff;
}

#product_image {
  width: 330px;
  height:100%;
  object-fit: cover;
  align-content: center;
}

.product-name {
  position: relative;
  padding: 12px;
  text-align: center;
}

.product-details {
  position: relative;
}

.product-button {
  position: relative;
  text-align: center;
  align-content: center;
  a {
    width: 300px;
  }
}

.add-button {
  position: relative;
  text-align: center;
  align-content: center;
  a {
    width: 300px;
  }
}

.buy-button {
  position: relative;
}

.product-description {
  position: relative;
}
