.product-container {
  padding:0;
  background-color: #fff;
}

.product-show-container {
  display: flex;
  flex-direction: column;
  padding:0;
  background-color: #fff;
}

.teste {
  display: flex;
}

.product-container-checkout {
  padding-left:5px;
  background-color: #fff;
}

#product_image {
  width: 330px;
  height:100%;
  object-fit: cover;
  align-content: center;
}

.schools-name {
  position: relative;
  padding: 10px;
  text-align: center;
  margin-bottom: 2px;
  background-color: #343434;
  color: white;
}

.product-name {
  position: relative;
  padding: 10px;
  text-align: center;
  margin-bottom: 2px;
  background-color: #343434;
  color: white;
}

.categories-name {
  position: relative;
  padding: 10px;
  text-align: center;
  margin-bottom: 2px;
  background-color: #343434;
  color: white;
}

.sub-categories-name {
  position: relative;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
  background-color: #f5f5f5;
  color: #99cfd6;
  a {
    text-decoration: none;
    color: #49a1ad;
    font-weight: bold;
  }
}

.sub-categories-title {
  position: relative;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
  background-color: #343434;
  color: #f0ad42;
  max-height: 85px;
  a {
    text-decoration: none;
    color: #f0ad42;
  }
}

.sub-categories-description {
  position: relative;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
  background-color: #343434;
  color: #f0ad42;
  max-height: 85px;
  a {
    text-decoration: none;
    color: #f0ad42;
  }
}


.product-details {
  position: relative;
  padding-left: 5px;
}



.product-description {
  position: relative;
}

.read-more-link {

  text-decoration: none;
}

.list-decoration {
  a {
    text-decoration: none;
  }
  list-style: none;
}

.product, .categories {
  padding-top: 12px;
  padding-bottom: 0;
}

.school-info {
  width: 150px;
}
