<h1><%= @category.name %></h1>

  <div class="card-product" >
      <%= image_tag "product_placeholder.png", class: "product_image" %>
  </div>

      <%# View %>
      <p class="btn btn-primary">
      <%# Back %>
      <p class="btn btn-primary">
    </div>
