<!-- app/views/products/search.html.erb -->
<h1>"<%= @search_term %>" available options:</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
