<!-- app/views/products/search.html.erb -->
<div class="sub-categories-title">
  <h1><%= @search_term.capitalize %> available options</h1>
</div>

<div class="card-product">
  <ul class="list-decoration">
      <% @products.each do |product| %>
      <li class="list-decoration">• <%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
</div>
